{#
/**
 * @file
 * Default theme implementation to present an ats candidate entity.
 *
 * This template is used when viewing a registered ats candidate's page,
 * e.g., /admin/content/ats-candidate)/123. 123 being the ats candidate's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.title'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_ats_candidate()
 */
#}
<article{{ attributes }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</article>
